

{%extends 'base.html' %}
{%block content%}

<section>
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
  </div>
</section>


<table id="tabela" class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Escala</th>
    </tr>
  </thead>


  <tbody>
  {%if lista %}
  {%for lis in lista%}
    <tr>
      <td>{{lis.nome}}</td>
      <td>{{lis.funcao}}</td>
      <td>{{lis.datas}}</td>
    </tr>
  {%endfor %}
  {%endif%}
  </tbody>
</table>

<script>
  $('input#txt_consulta').quicksearch('table#tabela tbody tr');
</script>

{% endblock %}