

{%extends 'base.html' %}
{%block content%}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Função</th>
      <th scope="col">Escala</th>
    </tr>
  </thead>


  <tbody>
  {%if lista %}
  {%for lis in lista%}
    <tr>
      <th scope="row">{{lis.id}}</th>
      <td>{{lis.nome}}</td>
      <td>{{lis.funcao}}</td>
      <td>{{lis.datas}}</td>
    </tr>
  {%endfor %}
  {%endif%}
  </tbody>
</table>

{% endblock %}